@charset "utf-8";


/* configuration_dialog --------------------------------------- */
#au-ssftp-configuration_dialog {}
#au-ssftp-configuration_dialog .description { padding-bottom: 20px; margin-bottom: 20px; border-bottom: solid 1px #444; }
#au-ssftp-configuration_dialog table { width: 100%; }
#au-ssftp-configuration_dialog table th, #au-ssftp-configuration_dialog .modal-body table td { vertical-align: middle; text-align: left; }
#au-ssftp-configuration_dialog table th { width: 100px; }
#au-ssftp-configuration_dialog table td {}
#au-ssftp-configuration_dialog table input { width: 300px; }
#au-ssftp-configuration_dialog table span { vertical-align: middle; }


/* connection_dialog --------------------------------------- */
#au-ssftp-connection_dialog {}
#au-ssftp-connection_dialog h2 { font-size: 18px; }
#au-ssftp-connection_dialog table { width: 100%; }
#au-ssftp-connection_dialog table th, #au-ssftp-connection_dialog .modal-body table td { vertical-align: middle; text-align: left; }
#au-ssftp-connection_dialog table th { width: 110px; }
#au-ssftp-connection_dialog table td {}
#au-ssftp-connection_dialog table input[type="text"] { width: 280px; }
#au-ssftp-connection_dialog table span { vertical-align: middle; }
#au-ssftp-connection_dialog .nav-tabs { padding-top: 20px; }
#au-ssftp-connection_dialog .tab-content { overflow: inherit; }
#au-ssftp-connection_dialog .tab-pane { padding: 20px 0; }
#au-ssftp-connection_dialog .input-port, #au-ssftp-connection_dialog .input-port-p { width: 40px !important; }


/* ftp_log_panel --------------------------------------- */
#au-ssftp-ftp_log_panel {}
#au-ssftp-ftp_log_panel ul { overflow: scroll; height: 90%; }
#au-ssftp-ftp_log_panel ul .log { display: block; border-bottom: solid 1px rgba(153,153,153,0.2); }
#au-ssftp-ftp_log_panel ul .o, #au-ssftp-ftp_log_panel ul .e, #au-ssftp-ftp_log_panel ul .t, #au-ssftp-ftp_log_panel ul .d { display: inline-block; }
#au-ssftp-ftp_log_panel ul .o { width: 200px; }
#au-ssftp-ftp_log_panel ul .e { width: 150px; }
#au-ssftp-ftp_log_panel ul .t { width: 200px; }
#au-ssftp-ftp_log_panel ul .d {}
#au-ssftp-ftp_log_panel ul .warning .o { color: #FFD24D; }
#au-ssftp-ftp_log_panel ul .error .o { color: #FF2626; }
#au-ssftp-ftp_log_panel ul .start .o { color: #00A3D9; }
#au-ssftp-ftp_log_panel ul .complete .o { color: #6DD900; }
#au-ssftp-ftp_log_panel ul .get .o { color: #BF00FF; }

/* server_manager_dialog --------------------------------------- */
#au-ssftp-server_manager_dialog { min-height: 50px; overflow: inherit !important; }
#au-ssftp-server_manager_dialog .modal-body { width: 100%; max-height: calc(100% - 50px); overflow: auto; box-sizing: border-box; }
#au-ssftp-server_manager_dialog .jstree-brackets-wrap { background-color: #333; padding: 20px; }
#au-ssftp-server_manager_dialog .jstree-brackets li { border-bottom: solid 1px rgba(153,153,153,0.2); }
#au-ssftp-server_manager_dialog ins.jstree-icon { left: -6px !important; }
#au-ssftp-server_manager_dialog .date { float: right; width: 200px; text-align: right; opacity: 0.8; }
#au-ssftp-server_manager_dialog .size { float: right; width: 200px; text-align: right; opacity: 0.8; }
#au-ssftp-server_manager_dialog .download { float: right; width: 80px; text-align: right; border: solid 1px rgba(255,255,255,0.3); text-align: center; }
#au-ssftp-server_manager_dialog .download:hover { cursor: pointer; opacity: 0.5; }
#au-ssftp-server_manager_dialog .download.comp { opacity: 0.2; }
#au-ssftp-server_manager_dialog .delete { display: none; float: right; width: 50px; text-align: right; }
#au-ssftp-server_manager_dialog .tab-pane { padding-top: 20px; }

/* au-ssftp-dialog_modify_log --------------------------------------- */
#au-ssftp-dialog_modify_log {}
#au-ssftp-dialog_modify_log .modal-body { width: 100%; max-height: calc(100% - 50px); overflow: auto; box-sizing: border-box; }
#au-ssftp-dialog_modify_log .modal-body table { width: 100%; border: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_modify_log .modal-body table tr:hover td { cursor: pointer; background-color: rgba(153,153,153,0.05); }
#au-ssftp-dialog_modify_log .modal-body table tr.check td { background-color: rgba(153,153,153,0.3) !important; }
#au-ssftp-dialog_modify_log .modal-body table th, #au-ssftp-dialog_modify_log .modal-body table td { padding: 10px; border-right: solid 1px rgba(153,153,153,0.05); border-bottom: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_modify_log .modal-body table th { background-color: rgba(153,153,153,0.1); }
#au-ssftp-dialog_modify_log .modal-body table th:hover { background-color: rgba(153,153,153,0.2); }
#au-ssftp-dialog_modify_log .modal-body table td {}
#au-ssftp-dialog_modify_log .modal-body table td.p {}
#au-ssftp-dialog_modify_log .modal-body table td.d { text-align: center; }
#au-ssftp-dialog_modify_log .modal-body table td.u { text-align: center; }
#au-ssftp-dialog_modify_log .danger { background-color: #d9534f !important; color: #FFF !important; }
#au-ssftp-dialog_modify_log .modal-footer .btn { float: left; }
#au-ssftp-dialog_modify_log .dialog-cancel { float: right !important; }
#au-ssftp-dialog_modify_log .btw { overflow: hidden; padding-top: 15px; margin-top: 10px; border-top: solid 1px rgba(127,127,127,0.2); }
#au-ssftp-dialog_modify_log .btw .bt1 { float: left; }
#au-ssftp-dialog_modify_log .btw .bt2 { float: right; }

/* au-ssftp-dialog_select_file --------------------------------------- */
#au-ssftp-dialog_select_file {}
#au-ssftp-dialog_select_file .modal-body { width: 100%; max-height: calc(100% - 50px); overflow: auto; box-sizing: border-box; }
#au-ssftp-dialog_select_file .modal-body table { width: 100%; border: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_select_file .modal-body table tr:hover td { cursor: pointer; background-color: rgba(153,153,153,0.05); }
#au-ssftp-dialog_select_file .modal-body table tr.check td { background-color: rgba(153,153,153,0.3) !important; }
#au-ssftp-dialog_select_file .modal-body table th, #au-ssftp-dialog_select_file .modal-body table td { padding: 10px; border-right: solid 1px rgba(153,153,153,0.05); border-bottom: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_select_file .modal-body table th { background-color: rgba(153,153,153,0.1); }
#au-ssftp-dialog_select_file .modal-body table th:hover { background-color: rgba(153,153,153,0.2); }
#au-ssftp-dialog_select_file .modal-body table td {}
#au-ssftp-dialog_select_file .modal-body table td.p {}
#au-ssftp-dialog_select_file .danger { background-color: #d9534f !important; color: #FFF !important; }
#au-ssftp-dialog_select_file .modal-footer .btn { float: left; }
#au-ssftp-dialog_select_file .dialog-cancel { float: right !important; }
#au-ssftp-dialog_select_file .btw { overflow: hidden; padding-top: 15px; margin-top: 10px; border-top: solid 1px rgba(127,127,127,0.2); }
#au-ssftp-dialog_select_file .btw .bt1 { float: left; }
#au-ssftp-dialog_select_file .btw .bt2 { float: right; }

/* au-ssftp-dialog_recently_changed_files --------------------------------------- */
#au-ssftp-dialog_recently_changed_files {}
#au-ssftp-dialog_recently_changed_files .modal-body { width: 100%; max-height: calc(100% - 50px); overflow: auto; box-sizing: border-box; }
#au-ssftp-dialog_recently_changed_files .modal-body table { width: 100%; border: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_recently_changed_files .modal-body table tr:hover td { cursor: pointer; background-color: rgba(153,153,153,0.05); }
#au-ssftp-dialog_recently_changed_files .modal-body table tr.check td { background-color: rgba(153,153,153,0.3) !important; }
#au-ssftp-dialog_recently_changed_files .modal-body table th, #au-ssftp-dialog_recently_changed_files .modal-body table td { padding: 10px; border-right: solid 1px rgba(153,153,153,0.05); border-bottom: solid 1px rgba(153,153,153,0.05); }
#au-ssftp-dialog_recently_changed_files .modal-body table th { background-color: rgba(153,153,153,0.1); }
#au-ssftp-dialog_recently_changed_files .modal-body table th:hover { background-color: rgba(153,153,153,0.2); }
#au-ssftp-dialog_recently_changed_files .modal-body table td {}
#au-ssftp-dialog_recently_changed_files .modal-body table td.p {}
#au-ssftp-dialog_recently_changed_files .danger { background-color: #d9534f !important; color: #FFF !important; }
#au-ssftp-dialog_recently_changed_files .modal-footer .btn { float: left; }
#au-ssftp-dialog_recently_changed_files .dialog-cancel { float: right !important; }
#au-ssftp-dialog_recently_changed_files .btw { overflow: hidden; padding-top: 15px; margin-top: 10px; border-top: solid 1px rgba(127,127,127,0.2); }
#au-ssftp-dialog_recently_changed_files .btw .bt1 { float: left; }
#au-ssftp-dialog_recently_changed_files .btw .bt2 { float: right; }
#au-ssftp-dialog_recently_changed_files .input-day { width: 50px; }
